/*  style général pour la banner */
.lmj-banner {
  color: black;
  //   text-align: right;
  padding: 32px;
  border-bottom: solid 3px black;
  display: flex;
  justify-content: flex-end;
  //   flex-direction: row;
  align-items: center;
  /* style pour le titre */
  &__title {
    padding-left: 32px;
  }
  /* style pour le logo */
  &__logo {
    width: 45px;
    height: 45px;
  }
}
